$dark-brand-color: darken($brand-color, 15%);
$light-brand-color: lighten($brand-color, 35%);
$neutral-brand-color: lighten(desaturate($brand-color, 40%), 42%);
$dark-neutral-brand-color: darken(desaturate($brand-color, 20%), 15%);

em {
  font-weight: bold;
  font-style: normal;
}

h2::before {
    display: block;
    content: "";
    border-top: .15rem solid $grey-color-light;
    // width: 4rem;
    margin: 3rem 0 1rem 0;
    transform: translateY(-1rem);
}

.resumeHeaderWrapper {
  overflow: hidden;
}

@media only screen and (min-width: 900px) {
  .resumeHeaderWrapper > div {
    padding-right: 3em;
    float:left;
  }
}

.autoTable2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.autoTable3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

table.innerBorderTable {
  border-collapse: collapse;
  border-style: hidden;
}
.innerBorderTable th {
  //background-color: lighten($grey-color-light, 3%);
  border: 1px solid darken($grey-color-light, 4%);
  border-bottom-color: darken($grey-color-light, 12%);
}
.innerBorderTable td {
  border: 1px solid $grey-color-light;
}

th {
  font-weight: normal;
  font-style: italic;
}


.meter {
    height: 4px;  /* Can be anything */
	  position: relative;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: inset 3px 3px 8px #dbdbdb, 
                inset -3px -3px 8px #ffffff;
}
  
.meter > span {
    display: block;
    height: 100%;
    border-radius: 8px;
    background-color: $dark-neutral-brand-color;
    background-image: linear-gradient(
      center bottom,
      $dark-brand-color 37%,
      white 69%
    );
    box-shadow: 
      inset 0 2px 3px  rgba(255,255,255,0.63),
      inset 0 -2px 3px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.banner {
  background-color: $dark-brand-color;
  color: white;
  font-size: larger;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
}

.ref {
  padding: 0.05em 0.25em 0.05em 0.25em;
}

.ref:target {
  background-color: $neutral-brand-color;
  border-radius: 4px;
  transition: background-color 250ms;
  transition-delay: 100ms;
}

.inlineSubtitle {
  font-size: medium;
  padding-left: 0.5em;
}

sup {
  font-size: min(1rem, max(0.6em, 0.75rem));
  padding-left: 0.15em;
}

// Nested lists numbering
ol.nestedList {
  counter-reset: item
}
ol.nestedList li {
  display: block
}
ol.nestedList li:before {
  content: counters(item, ".", decimal) ". ";
  counter-increment: item
}

ol.nestedList.letterList li:before {
  content: counters(item, ".", lower-alpha) ". ";
  counter-increment: item
}

ol.letterList {
  list-style-type: lower-alpha;
}

// Nested lists
ol.spacedList li {
  margin-bottom: 1em;
}

.location img {
  padding-right: 5px;
}